body{
    margin: 0;
    padding:0;
    background-color: rgb(43, 40, 40);
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body svg{
    height: 95%;
}


#beam{
    transform-origin: 626px 444px;

}
#advice{
    animation: anim 2s  infinite;
}

@keyframes anim{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
        opacity:40%;
}
    100%{
        transform: translateY(0px);
        opacity:100%;
    }
}